[Desktop Entry]
Name=Schneider Platformer
Exec=/home/schneiderman/Appimages/schneiderplatformer.AppImage
Icon=/home/schneiderman/Applications/schneider-platformer.AppDir/icon.png
Type=Application
Categories=Utility
